:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 17, 17);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(17, 17, 255, 0.699);
  cursor: pointer;
  transition: background-color 0.25s;
  color: white;
}
button:hover {
  background-color: blue;
}

/*--------------------------------------------------------------------------*/

.welcomeMessage {
  font-size: 24px; /* Larger font size */
  color: white; /* Darker text color */
  position: absolute;
  margin-left: 20%;
  margin-top: 15%;
  margin-right: 10%;
}

.getStartedbtn {
  position: absolute;
  margin-top: 25%;
  margin-left: 20%;
}
